{{ block title }}
{{ endblock }}

{{ block content }}


<!-- <h2> Task </h2> -->

<h3> Background </h3>

<p id="text">
    In a previous study, participants who identified themselves as either {{participant.group}}s or {{participant.outgroup}}s
    took part in the same {{C.NUM_TASKS_W}} tasks that you have just completed.
    In this previous study, each task - Logical Reasoning Test, Counting Task and Dice Game -
    involved a competition between a Team of {{participant.group}}s and a Team of {{participant.outgroup}}s.
</p>

<h6> Team Selection and Competition Format: </h6>
<p>
    For each task, {{ C.NUM_MEMBERS_W}} {{participant.group}}s and {{ C.NUM_MEMBERS_W}} {{participant.outgroup}}s
    were randomly selected from their respective groups to form the teams.
    The selection was done independently for each task, so the teams could consist of different people for each task.
</p>

<!-- <p>
    In a previous study, participants who identified themselves as either {{participant.group}} or {{participant.outgroup}}
    took the same {{C.NUM_TASKS}} tasks that you have just completed.
    In this previous study, in all of these {{C.NUM_TASKS_W}} tasks, a team competition between <b><span class="no-space">{{participant.group}}</span>s</b>
    and <b><span class="no-space">{{participant.outgroup}}</span>s</b> was conducted.
    For each team competition, thus for each task, from all participants identifying themselves with each party,
    <b>&nbsp;{{ C.NUM_GROUPMEMBERS}} </b> were randomly selected to take part in this competition.
    Thus, in each of the {{C.NUM_TASKS_W}} tasks, a team of {{ C.NUM_GROUPMEMBERS}} {{participant.group}}s competed
    against a team of {{ C.NUM_GROUPMEMBERS}} {{participant.outgroup}}s.
</p> -->


<table style="item-align:center;">
    <th width="23%"> Task </th>
    <th width="8%" style="item-align:center">
        {{ if participant.group == "Democrat" }}
        <img class="logo" src="{% static "global/logo_democrat.png" %}" alt="logo of Democrats">
        {{ else}}
        <img class="logo" src="{% static "global/logo_republican.png" %}" alt="logo of Republicans">
        {{ endif }}
    </th>
    <th width="18%" style="text-align:left">
        {{ participant.group}}s <br>
    </th>
    <th width="4%"> </th>
    <th width="5%"> </th>
    <th width="8%" style="item-align:left">
        {{ if participant.outgroup == "Democrat" }}
        <img class="logo" src="{% static "global/logo_democrat.png" %}" alt="logo of Democrats">
        {{ else}}
        <img class="logo" src="{% static "global/logo_republican.png" %}" alt="logo of Republicans">
        {{ endif }}
    </th>
    <th width="18%" style="text-align:left">
        {{ participant.outgroup}}s <br>
    </th>
    <tr height="5px" style="border-bottom: 3px solid black"></tr>
    <tr height="2px"></tr>
    <tr>
        <td> {{ if participant.task1 == "logic" }} Logical Reasoning Test
            {{ elif participant.task1 == "effort" }} Counting Task
            {{ elif participant.task1 == "luck" }} Dice Game
            {{ endif }}
        </td>
        <td colspan="2" style="text-align:center">
            {{ if participant.group == "Democrat" }}
            <img class="group_img" src="{% static "global/group_democrat.png" %}" alt="logo of Democrats">
            {{ else}}
            <img class="group_img" src="{% static "global/group_republican.png" %}" alt="logo of Republicans">
            {{ endif }}
        </td>
        <td style="text-align:center"> <b>vs.</b> </td>
        <td> </td>
        <td colspan="2" style="text-align:center">
            {{ if participant.outgroup == "Democrat" }}
            <img class="group_img" src="{% static "global/group_democrat.png" %}" alt="logo of Democrats">
            {{ else}}
            <img class="group_img" src="{% static "global/group_republican.png" %}" alt="logo of Republicans">
            {{ endif }}
        </td>
    </tr>
    <tr height="3px" style="border-bottom:1px solid black"></tr>
    <tr height="3px"> </tr>
    <tr>
        <td> {{ if participant.task2 == "logic" }} Logical Reasoning Test
            {{ elif participant.task2 == "effort" }} Counting Task
            {{ elif participant.task2 == "luck" }} Dice Game
            {{ endif }}
        </td>
        <td colspan="2" style="text-align:center">
            {{ if participant.group == "Democrat" }}
            <img class="group_img" src="{% static "global/group_democrat.png" %}" alt="logo of Democrats">
            {{ else}}
            <img class="group_img" src="{% static "global/group_republican.png" %}" alt="logo of Republicans">
            {{ endif }}
        </td>
        <td style="text-align:center"> <b>vs.</b> </td>
        <td> </td>
        <td colspan="2" style="text-align:center">
            {{ if participant.outgroup == "Democrat" }}
            <img class="group_img" src="{% static "global/group_democrat.png" %}" alt="logo of Democrats">
            {{ else}}
            <img class="group_img" src="{% static "global/group_republican.png" %}" alt="logo of Republicans">
            {{ endif }}
        </td>
    </tr>
    <tr height="3px" style="border-bottom:1px solid black"></tr>
    <tr height="3px"> </tr>
    <tr>
        <td> {{ if participant.task3 == "logic" }} Logical Reasoning Test
            {{ elif participant.task3 == "effort" }} Counting Task
            {{ elif participant.task3 == "luck" }} Dice Game
            {{ endif }}
        </td>
        <td colspan="2" style="text-align:center">
            {{ if participant.group == "Democrat" }}
            <img class="group_img" src="{% static "global/group_democrat.png" %}" alt="logo of Democrats">
            {{ else}}
            <img class="group_img" src="{% static "global/group_republican.png" %}" alt="logo of Republicans">
            {{ endif }}
        </td>
        <td style="text-align:center"> <b>vs.</b> </td>
        <td> </td>
        <td colspan="2" style="text-align:center">
            {{ if participant.outgroup == "Democrat" }}
            <img class="group_img" src="{% static "global/group_democrat.png" %}" alt="logo of Democrats">
            {{ else}}
            <img class="group_img" src="{% static "global/group_republican.png" %}" alt="logo of Republicans">
            {{ endif }}
        </td>
    </tr>
</table>
<br>

<!-- <table style="font-size: 24px; item-align:center;" width="90%">
    <th width="5%"> </th>
    <th width="8%" style="item-align:center">
        {{ if participant.group == "Democrat" }}
        <img class="logo" src="{% static "global/logo_democrat.png" %}" alt="logo of Democrats">
        {{ else}}
        <img class="logo" src="{% static "global/logo_republican.png" %}" alt="logo of Republicans">
        {{ endif }}
    </th>
    <th width="27%" style="text-align:left">
        Team {{ participant.group}} <br>
    </th>
    <th width="4%"> </th>
    <th width="5%"> </th>
    <th width="8%" style="item-align:left">
        {{ if participant.outgroup == "Democrat" }}
        <img class="logo" src="{% static "global/logo_democrat.png" %}" alt="logo of Democrats">
        {{ else}}
        <img class="logo" src="{% static "global/logo_republican.png" %}" alt="logo of Republicans">
        {{ endif }}
    </th>
    <th width="27%" style="text-align:left">
        Team {{ participant.outgroup}} <br>
    </th>
    <tr height="5px"></tr>
    <tr>
        <td colspan="3" style="text-align:center">
            {{ if participant.group == "Democrat" }}
            <img class="group_img" src="{% static "global/group_democrat.png" %}" alt="logo of Democrats">
            {{ else}}
            <img class="group_img" src="{% static "global/group_republican.png" %}" alt="logo of Republicans">
            {{ endif }}
        </td>
        <td style="text-align:center"> <b>vs.</b> </td>
        <td colspan="3" style="text-align:center">
            {{ if participant.outgroup == "Democrat" }}
            <img class="group_img" src="{% static "global/group_democrat.png" %}" alt="logo of Democrats">
            {{ else}}
            <img class="group_img" src="{% static "global/group_republican.png" %}" alt="logo of Republicans">
            {{ endif }}
        </td>
    </tr>
</table>
<br> -->


<p>
    Each team member completed their assigned task individually.
    For each task, the total score for a team was the sum of the individual scores of its {{C.NUM_MEMBERS_W}} members.
    The team with the higher total score won the competition for that task.
    In case of a tie in the total scores, a coin flip was used to determine which team won the competition.
    Members of the winning team for each task received a bonus payment.
</p>

<!--
<p id="container">
<b class="openbox" id="openbox">
    <button type="button" class="button_normal"> Next </button>
</b> </p>
<div class="infobox hidden" id="infobox">
<div class="belief_task">

<hr>

<h3> Your Task </h3>
<p id="text2"> We would now like to know which of the two competing teams,
     <b>{{ participant.group}}s</b> and <b>{{ participant.outgroup }}s</b>, you think
    won the competition and therefore performed better in the skills test.
<br>
    For that, on the next page, you will be asked to estimate the competition outcome.
</p>
<p>
    You can earn a bonus for this task. You will be informed of the bonus payment and details of the task
    on the next page.
</p>
    {{ next_button }}

</div>
</div>
-->

{{ next_button }}

{{ endblock }}



{{ block styles}}
<style>
.no-space {
        letter-spacing: -0.01em; /* Adjust the value as needed */
    }
table{
    font-size: 20px;
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    border: none;
}
table th{
    font-size: 24px;
}
.hidden {
	display:none;
}

.infobox {
    // background-color:#f0f0f5
    }

.openbox {
        cursor: pointer;
		margin: 15px 0;
		  }


.button_normal{
    background-color: #0B60DB;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.belief_task {
    }

.button {
    border-radius: 7px;
    padding: 7px 14px;
}

.logo {
    width:90%;
    height: auto;
   }

.group_img {
    width:50%;
    height: auto;
   }

</style>
{{ endblock }}

{{ block scripts }}
<script>
    document.getElementById("openbox").addEventListener("click", function(){
    document.getElementById("infobox").classList.remove("hidden");
    document.getElementById("container").classList.add("hidden");
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const textElement = document.getElementById('text');
    const wordsToHighlight = ['Green'];

    wordsToHighlight.forEach(word => {
        const regex = new RegExp(`\\b${word}\\b`, 'gi');
        textElement.innerHTML = textElement.innerHTML.replace(regex, `<span class="highlight_green">${word}</span>`);
    });
});
    document.addEventListener('DOMContentLoaded', function() {
    const textElement = document.getElementById('text');
    const wordsToHighlight = ['Orange'];

    wordsToHighlight.forEach(word => {
        const regex = new RegExp(`\\b${word}\\b`, 'gi');
        textElement.innerHTML = textElement.innerHTML.replace(regex, `<span class="highlight_orange">${word}</span>`);
    });
});
    document.addEventListener('DOMContentLoaded', function() {
    const textElement = document.getElementById('text');
    const wordsToHighlight = ['Blue'];

    wordsToHighlight.forEach(word => {
        const regex = new RegExp(`\\b${word}\\b`, 'gi');
        textElement.innerHTML = textElement.innerHTML.replace(regex, `<span class="highlight_blue">${word}</span>`);
    });
});
    document.addEventListener('DOMContentLoaded', function() {
    const textElement = document.getElementById('text');
    const wordsToHighlight = ['Purple'];

    wordsToHighlight.forEach(word => {
        const regex = new RegExp(`\\b${word}\\b`, 'gi');
        textElement.innerHTML = textElement.innerHTML.replace(regex, `<span class="highlight_purple">${word}</span>`);
    });
});

document.addEventListener('DOMContentLoaded', function() {
    const textElement = document.getElementById('text2');
    const wordsToHighlight = ['Green'];

    wordsToHighlight.forEach(word => {
        const regex = new RegExp(`\\b${word}\\b`, 'gi');
        textElement.innerHTML = textElement.innerHTML.replace(regex, `<span class="highlight_green">${word}</span>`);
    });
});
    document.addEventListener('DOMContentLoaded', function() {
    const textElement = document.getElementById('text2');
    const wordsToHighlight = ['Orange'];

    wordsToHighlight.forEach(word => {
        const regex = new RegExp(`\\b${word}\\b`, 'gi');
        textElement.innerHTML = textElement.innerHTML.replace(regex, `<span class="highlight_orange">${word}</span>`);
    });
});
    document.addEventListener('DOMContentLoaded', function() {
    const textElement = document.getElementById('text2');
    const wordsToHighlight = ['Blue'];

    wordsToHighlight.forEach(word => {
        const regex = new RegExp(`\\b${word}\\b`, 'gi');
        textElement.innerHTML = textElement.innerHTML.replace(regex, `<span class="highlight_blue">${word}</span>`);
    });
});
    document.addEventListener('DOMContentLoaded', function() {
    const textElement = document.getElementById('text2');
    const wordsToHighlight = ['Purple'];

    wordsToHighlight.forEach(word => {
        const regex = new RegExp(`\\b${word}\\b`, 'gi');
        textElement.innerHTML = textElement.innerHTML.replace(regex, `<span class="highlight_purple">${word}</span>`);
    });
});


</script>
{{ endblock }}