{{ block title }}

{{ endblock }}
{{ block content }}


<table style="border: 2px solid black; border-collapse: collapse; margin: 20px auto; border-radius: 3px;">
    <th colspan="2" style="text-align:center; font-size:22px; padding: 10px;">
        What option do you choose? <br>
        <span style="font-size:14px; font-weight:normal"><i>(Please click on the option you want to choose)</i></span>
    </th>
    <tr style="text-align:center; font-size:20px; padding: 10px">
        <td style="padding: 10px" width="50%">
            <div class="option-container">
                <input type="radio" id="competition" name="choice_effort_post" value="Team Competition">
                <label for="competition">Option A: <br> <b>${{C.BONUS_REL}} if the {{C.NUM_MEMBERS_W}} {{participant.group}}s won the Counting Task</b></label>
            </div>
        </td>
        <td style="padding: 10px" width="50%">
            <div class="option-container">
                <input type="radio" id="lottery" name="choice_effort_post" value="Lottery">
                <label for="lottery">Option B: <br> <b>Lottery with {{ current_probability }}% probability of winning ${{C.BONUS_REL}}</b></label>
            </div>
        </td>
    </tr>
</table>

<p style="text-align:center"><i>(Click <b id="instructions_trigger" style="color:blue">here </b> if you want to read the instructions again.)</i></p>
<div id="logicmodal" class="modal">
    <span id="logicclose" class="close">&times;</span>
    <div id="logiccaption">

<h4> Instructions </h4>
<p> <b>Given the information on the team competition outcomes you received previously</b>,
    we want to know how you now
    assess the performance of the {{ participant.group }} team in the three tasks:
    {{ if participant.task1 == "logic" }} Logic Task,
    {{ elif participant.task1 == "effort" }} Counting Task,
    {{ elif participant.task1 == "luck" }} Dice Task,
    {{ endif }}
    {{ if participant.task2 == "logic" }} Logic Task,
    {{ elif participant.task2 == "effort" }} Counting Task,
    {{ elif participant.task2 == "luck" }} Dice Task,
    {{ endif }}
    and
    {{ if participant.task3 == "logic" }} Logic Task.
    {{ elif participant.task3 == "effort" }} Counting Task.
    {{ elif participant.task3 == "luck" }} Dice Task.
    {{ endif }}
    Specifically, for each task, we want you to estimate the
    <b>probability that the team of {{C.NUM_MEMBERS_W}} {{ participant.group }}s won against the
    team of {{C.NUM_MEMBERS_W}} {{participant.outgroup}}s</b>, i.e. had a higher team score than Team {{ participant.outgroup }}
    (or had the same score and won due to the tie-breaking rule).
    <!-- (Remember, the team score is the sum of the individual scores of all {{C.NUM_MEMBERS_W}} members.) -->
    </p>

<p> To determine this, you will make several decisions on the following pages.
    Each time, you will choose between two options to win ${{C.BONUS_REL}}:
</p>
    <ul>
        <li> Option A: You receive ${{C.BONUS_REL}} if the team of {{C.NUM_MEMBERS_W}} {{ participant.group }}s won against
        the team of {{C.NUM_MEMBERS_W}} {{ participant.outgroup }}s in the task. </li>
        <li> Option B: You receive ${{C.BONUS_REL}} if you win a lottery with a specified chance of winning. The probability of winning the lottery
            will vary between questions.
        </li>
    </ul>

<h4> Bonus Payment: </h4>
<p>
    For each of the {{C.NUM_TASKS_W}} tasks, i.e. team competitions, you will make {{C.ROUNDS_P_Q}} choices between
    the two options with varying lottery winning probabilities.
    You will therefore make a total of {{C.NUM_ROUNDS}} decisions.
    One of the {{C.NUM_ROUNDS}} questions will be randomly chosen and implemented - if this block is drawn as
    the block-that-counts.
</p>

<span style="font-weight:bold"> <u> Example Question:</u> </span> <br>

<table style="text-align:center; border: 2px solid black; item-align:center; margin-top:10px; margin-bottom: 10px" width="90%">
    <th colspan="2">
        Which option do you choose?
    </th>
    <tr>
        <td style="padding: 5px;">
            <div class="container" style="border: 2px solid black; border-radius: 7px; padding: 10px;">
            Option A: ${{C.BONUS_REL}} if the {{C.NUM_MEMBERS_W}} {{participant.group}}s won the Logic Task
                </div>
        </td>
        <td style="padding: 5px;">
            <div class="container" style="border: 2px solid black; border-radius: 7px; padding: 10px;">
            Option B: Lottery with 40% probability of winning ${{C.BONUS_REL}}
                </div>
        </td>
    </tr>
</table>

<p>
    If this question would be randomly drawn to be implemented and ... <br>
    ... you chose Option A: You receive ${{C.BONUS_REL}} if the team of {{C.NUM_MEMBERS_W}} {{ participant.group }}s
    won in the Logic Task against the team of {{C.NUM_MEMBERS_W}} {{ participant.outgroup }}s. <br>
    ... you chose Option B:
    You receive ${{C.BONUS_REL}} with a 40%
    chance, namely if you win the lottery.
</p>
<br>


        </div>
</div>
<br>


    <div class="center">
    {{ next_button }}
    </div>
</div>

{{ formfield_errors 'choice_effort_post' }}

{{ endblock }}


{{ block styles }}
<style>
.option-container {
            display: block;
            margin: 10px auto;
        }
.option-container input {
            display: none;
        }
.option-container label {
            display: block;
            padding: 15px;
            border: 2px solid black;
            background-color: #f0f0f0;
            color: black;
            text-align: center;
            font-size: 18px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }
.option-container input:checked + label {
    // background-color: #1622DC;
    // background-color: #4A4A4F;
    // color: white;
    background-color: #89FAF6;
    // border: 6px solid black;
    box-shadow: 0 0 0 4px black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
	display:none;
}

.openbox {
        cursor: pointer;
		margin: 15px 0;
		  }

.button_normal{
    background-color: #0B60DB;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.belief_task {
    }

.button {
    border-radius: 7px;
    padding: 7px 14px;
}

    /* Hide the default radio button */
    .custom-radio input[type="radio"] {
        display: none;
    }

    /* Create a new custom radio button */
    .custom-radio label:before {
        content: '';
        display: inline-block;
        width: 25px;  /* Adjust size here */
        height: 25px;  /* Adjust size here */
        margin-right: 10px;
        position: relative;
        bottom: 1px;
        border-radius: 50%;
        border: 2px solid #000;
        background-color: #fff;
    }

    /* Style for checked state */
    .custom-radio input[type="radio"]:checked + label:before {
        background-color: #000;
    }
.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

    #instructions_trigger:hover{
        cursor: pointer;
        }

    #dict_trigger:hover{
        cursor: pointer;
        }

    #re_trigger:hover{
        cursor: pointer;
        }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        }

    #logiccaption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
        }

    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
        }

    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
        }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
        }

    @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
        }
    }
</style>

{{ endblock }}


{{ block scripts }}
<script>
// Get the modal
var logicmodal = document.getElementById("logicmodal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var logictrigger = document.getElementById("instructions_trigger");
var logicmodalImg = document.getElementById("logicimg");
var logiccaptionText = document.getElementById("logiccaption");
logictrigger.onclick = function(){
    logicmodal.style.display = "block";
    logiccaptionText.innerHTML = logicmodalImg.alt;
};

// Get the <span> element that closes the modal
var logicspan = document.getElementById("logicclose");

// When the user clicks on <span> (x), close the modal
    logicspan.onclick = function() {
        logicmodal.style.display = "none";
};
</script>

{{ endblock }}
